imitation_planner:
  _target_: src.planners.imitation_planner.ImitationPlanner
  _convert_: "all"

  replan_interval: 1

  planner:
    _target_: src.training.modeling.models.tt_model.PlanningModel
    _convert_: "all"

    dim: 128
    state_channel: 6
    polygon_channel: 6
    history_channel: 9
    history_steps: 21
    future_steps: 80
    encoder_depth: 4
    decoder_depth: 4
    drop_path: 0.2
    dropout: 0.1
    num_heads: 4
    num_modes: 6
    state_dropout: 0.75
    use_ego_history: false
    state_attn_encoder: true
    use_hidden_proj: false
    use_agent_lane_temporal_matching: true

    feature_builder:
      _target_: src.training.preprocessing.feature_builders.tt_feature_builder.TTFeatureBuilder
      _convert_: "all"
      radius: 120
      history_horizon: 2
      future_horizon: 8
      sample_interval: 0.1
      max_agents: 48
      build_reference_line: true

  planner_ckpt: /home/vci-4/LK/lk_nuplan/nuplan-devkit/nuplan/exp/exp/training/tt/2025.11.16.20.22.46/checkpoints/last.ckpt
